{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<h1>Login Here</h1>
{% if forms.errors %}
<p>
    Username and Password missmatched
    Please try Again
</p>
{% endif %}

<div class="login-form">
    <p>Please, use the following form to log-in. If you don't have an
        account <a href="{% url "account:register" %}">register here</a></p>
    <form action="{% url 'account:login' %}" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Login"></p>
        <!-- next variable holds the url where to redirect after successfull login -->
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p><a href="{% url 'account:password_reset' %}">Forgotten your password?</a></ p>
</div>
<div class="social">
    <ul>
        <li class="facebook">
            <a href="{% url "social:begin" "facebook" %}">Sign in with
                Facebook</a>
        </li>
        <li class="google">
            <a href="{% url "social:begin" "google-oauth2" %}">Login with
                Google</a>
        </li>
    </ul>
</div>



{% endblock %}