{% extends 'base.html' %}

{% block title %} {{ image.title }} {% endblock %}

{% block content %}
<h1>{{ image.title }}</h1>
<!-- using thumnail tags to display thumbnail of the image rather than the actual image-->
{% load thumbnail %}
<a href="{{ image.image.url }}">
    <img src="{% thumbnail image.image 300x0 quality=100 %}" alt="{{ image.title }} url" class="image-detail">
</a>

{% with total_likes=image.users_like.count %}
<div class="image-info">
    <div>
        <span class="count">
            {{ total_likes }} like{{ total_likes|pluralize}}
        </span>
    </div>
    {{ image.description|linebreaks }}
</div>
<div class="image-likes">
    {% for user in image.user_likes.all %}
    <div>
        <img src="{{ user.profile.photo.url }}" alt="">
        <p>{{ user.first_name }}</p>
    </div>
    {% empty %}
    There is no likes yet
    {% endfor %}
</div>
{% endwith %}
{% endblock %}